<canvas id="game"></canvas>

<div class="description">
    <h1>PONGUE</h1>
    <p>
        Ceci est un pongue <i>multijoueur</i> créé le 26 Avril 2018.<br>
        Les joueurs peuvent contrôler leur brique rouge.
        <br><br>
        Il n'y a <strong>pas</strong> de bug qu'un F5 ne puisse régler.
    </p>
    <footer>
        HC
    </footer>
</div>