<!DOCTYPE html>

<html lang="fr">
    <head>
		<title>Pongue</title>
		
        <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Language" content="fr">
        <meta name="theme-color" content="#26a69a">
        <link rel="stylesheet" href="/css/style.css">
		{{#each additionalCSS}}
		 <link rel="stylesheet" href="{{.}}">
		{{/each}}
        <meta name="description" content="Multiplayer pong"/>
    </head>
    
    <body>
        <main class="container">
        {{{body}}}
        </main>
        
        
        {{#each additionalJS}}
        <script type="text/javascript" src="{{.}}"></script>
        {{/each}}
    </body>
    
</html>